:root {
    --primary: oklch(0.9 0.17 100);
    /* bg-colors */
    --bg-dark: oklch(0.1 0 264);
    --bg: oklch(0.2 0 264);
    --bg-light: oklch(0.3 0 264);
    /* text-colors */
    --text: oklch(0.96 0 264);
    --text-muted: oklch(0.76 0 264);
    /* shadows */
    --shadow-s:
        inset 0 1px 2px #ffffff30,
        0 1px 2px #00000030,
        0 2px 4px #00000015;
    --shadow-m:
        inset 0 1px 2px #ffffff30,
        0 2px 4px #00000030,
        0 4px 8px #00000015;
    --shadow-l:
        inset 0 1px 2px #ffffff50,
        0 4px 6px #00000030,
        0 6px 10px #00000015;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body.light {
    /* bg-colors */
    --primary: oklch(0.65 0.15 264);
    --bg-dark: oklch(0.92 0 264);
    --bg: oklch(0.96 0 264);
    --bg-light: oklch(1 0 264);
    /* text-colors */
    --text: oklch(0.15 0 264);
    --text-muted: oklch(0.4 0 264);
}

body {
    background: var(--bg-dark);
}

.container {
    background: var(--bg);
    padding: 20px;
}

.nav {
    display: grid;
    grid-template-columns: 1fr auto;
}

h1 {
    color: var(--text);
}

.buttons {
    display: grid;
    grid-auto-flow: column;
    gap: 15px;
}

.modal-btn,
.mode-change {
    background: var(--bg-light);
    color: var(--text-muted);
    box-shadow: var(--shadow-s);
    border: none;
    border-radius: 50px;
    padding: 10px 25px;
    font-size: 1.2rem;
}

.modal-btn:hover,
.mode-change:hover {
    box-shadow: var(--shadow-l);
    cursor: pointer;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}

#book-modal {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}