* {
    margin: 0;
    padding: 0;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}

#book-modal {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}